Machine Learning projects must use Python and the following libraries through JupyterLab to pass:* pandas* numpy* sklearn* scipy* statsmodels* matplotlib* seaborn* optuna* lightgbm* catboost* umap* torch* annoy* nmslibBefore you can use JupyterLab and Jupyter Notebook, you must install the libraries yourself on your account using the pip install -r requirements.txt command. All libraries are installed through the browser console window with the jupyterlab command. 